<% if current_user %>
  <% unless @topic.user == current_user %>
    <div id="favorite-form">
    <% if @fav_topic %>
      <%= form_tag favorite_topic_path(@fav_topic), method: :delete do %>
        <%= button_tag class: "btn btn-sm btn-default" do %>
          <i class="fa fa-bookmark text-danger"></i>
        <% end %>
      <% end %>
    
    <% else %>

      <%= form_tag favorite_topics_path, method: :post do %> 
        <div><%= hidden_field_tag :topic_id, @topic.id %></div>
        <%= button_tag class: "btn btn-sm btn-default" do %>
          <i class="fa fa-bookmark text-success"></i>
        <% end %>
      <% end %>
    <% end %>
    </div>
  <% end %>
<% end %>