<div class="container">
    <div class="page-with-ads">
      <div class="page">      
        <div class="post-author">
          <div class="btn-group pull-right">
            
            
          </div>
          <a class="member-picture post-author-picture pull-left">
            <% if @user.avatar_file_name == nil %>
              <%=  link_to "add profile picture here", edit_user_registration_path %>
            <% else %>
              <%= image_tag @user.avatar.url(:thumb) %>
            <% end %>
          </a>
          <div class="post-author-info">
            <p class="post-author-name"><%= link_to @user.username %></p>
            <p class="post-author-stats"><small>User has some things<span class="post-author-time"> since <%= @user.created_at.strftime("%b %Y") %></span></small></p>
          </div>
        </div>
            

        <ul class="nav nav-pills">
          <li><a href="/TheBeard/creations" title="Creations"><%= @user.projects_count %> Projects</a></li>
          <li><a href="/TheBeard/blogs" title="Blog"><%=@user.blogs_count %> Blog Post</a></li>
          <li><a href="/TheBeard/topics" title="Forum topics">0 topics</a></li>
          <li><a href="/TheBeard/followers" title="Followers">0 followers</a></li>
          <li><a href="/TheBeard/followeds" title="Following">0 following</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Faves <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/TheBeard/faved_creations" title="Faved creations">Creations</a></li>
              <li><a href="/TheBeard/faved_blogs" title="Faved blogs">Blogs</a></li>
              <li><a href="/TheBeard/faved_topics" title="Faved topics">Topics</a></li>
            </ul>
          </li>
        </ul>


        
